<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<button ion-button color="secondary" (click)="add()">Ajouter</button>

<ion-card *ngFor= "let item of items">
  <ion-card-header>
    ID : {{item.id}} <br> Name : {{item.name}}
  </ion-card-header>
  <img src={{item.picture}}/>
  <ion-card-content>
    Desc : {{item.desc}} <br> Price : {{item.price}}
  </ion-card-content>
  <button ion-button color="secondary" (click)="change(item.id)">Modifier</button>
  <button ion-button color="secondary" (click)="suppr(item.id)">Supprimer</button>
  <button ion-button color="secondary" (click)="addCart()">Ajouter au Panier</button>
  </ion-card>

</ion-content>

<!--   <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-start></ion-icon>
      {{item.title}}
      <div class="item-note" item-end>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
  -->
