page-list {

  .rogne {
    max-height: 240px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .prix {
   top: 15px;
   left: -65px;
   line-height: 35px;
   letter-spacing: 1px;
   color: white;
   background: #169b62;
   text-align: center;
 }

}
