<ion-header>
  <ion-navbar text-center>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


    <ion-toolbar no-border-top>
      <ion-buttons end>
        <button  *ngIf="!global.admin" ion-button icon-only (tap)="goCart()">
          <ion-icon name="cart"></ion-icon>
        </button>
      </ion-buttons>

      <ion-buttons end>
        <button  *ngIf="global.admin" ion-button icon-only (tap)="add()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>

      <ion-title>Boutique</ion-title>
    </ion-toolbar>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col col-lg-3 *ngFor= "let item of items; let idx = index; trackBy:trackByIndex;" >
      <ion-card>

        <ion-card-header (tap)="cardDetails(item.id)">

          <H1>{{item.name}}</H1>

        </ion-card-header>

        <div *ngIf="global.admin" class="center">
          <H2>ID: {{item.id}}</H2>
          <button ion-button color="secondary" (tap)="change(item.id)">Modifier</button>
          <button ion-button color="danger" (tap)="suppr(item.id)">Supprimer</button>
        </div>

        <ion-card-content>

          <div (tap)="cardDetails(item.id)">

            <div class="rogne">
              <img src={{item.picture}}/>
            </div>

            <div *ngIf="!global.admin" class="prix">
              Prix : {{item.price}}€
            </div>

          </div>

          <div *ngIf="!global.admin" class="text">
            Quantitée : <ion-input  type="number" class="inputfield" [(ngModel)]="qty[idx]"></ion-input>
            <button ion-button color="secondary" (tap)="addCart(item.id, qty[idx])">Ajouter au Panier</button>
            <button ion-button color="primary"(tap)="cardDetails(item.id)">En savoir Plus</button>
          </div>


        </ion-card-content>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

